<div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-sm-4 col-lg-3">
        <img class="img-fluid rounded" src="{{personItem.picture}}" alt="{{personItem.name}} photo">
      </div>
      <div class="col-sm-8 col-lg-4">
        <h2 class="mt-3 mt-sm-0 mb-0">{{personItem.name}}</h2>
        <p class="mt-0"> Age : {{personItem.age}}</p>
        <p>Email address : {{personItem.email}}</p>
        <p>Phone : {{personItem.phone}}</p>
        <p>About :{{personItem.about}}</p>
      </div>
    </div>
  </div>