<div class="row justify-content-center">
    <div class="card mt-sm-3 col-md-8">
      <div class="card-body">
        <h3 class="mb-0">List of person</h3>
        <div class="form-group">
          <div class="form-label" *ngIf="query" >Name: {{query}}</div>
          <input class="form-control mt-2" type="text"
            [(ngModel)] = "query"
          >
        </div><!-- form-group -->
      </div><!-- card-body -->
    </div><!-- card -->
  </div><!-- row -->

  <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5">
          <div class="list-group">
              <a  href="#" class="list-group-item list-group-item-action flex-column align-items-start"
                  *ngFor="let person of persons" 
                  (click) = showPerson(person)
                  [style.backgroundColor] = "person.highlight ? '#ccc' : '#fff'"
              >
                <app-person-items [personItem] = "person"></app-person-items>
            </a>
          </div> 
       </div>      
  </div>
  <p class="font-italic">JSON Data from https://www.json-generator.com</p>