<div class="media">
    <img class="mr-3 rounded align-self-center img-fluid" 
      [src]="personItem.picture" alt="{{personItem.name}}"> 
    <h5 class="m-0">{{personItem.name}}</h5>
    
        <div class="col-sm-10 col-md-3 col-lg-3 col-xl-5">
          {{personItem.age}}
        </div>  
    
        <div class="col-sm-10 col-md-3 col-lg-3 col-xl-5">
          {{personItem.gender}}
        </div>
    
        <div class="col-sm-10 col-md-3 col-lg-3 col-xl-5">
          {{personItem.email}}
        </div>

</div>